openapi: 3.2.0
info:
  title: Novu Activity API
  description: Novu REST API. Please see https://docs.novu.co/api-reference for more details.
  version: 3.15.0
  contact:
    name: Novu Support
    url: https://discord.gg/novu
    email: support@novu.co
  termsOfService: https://novu.co/terms
  license:
    name: MIT
    url: https://opensource.org/license/mit
servers:
- url: https://api.novu.co
- url: https://eu.api.novu.co
security:
- secretKey: []
tags:
- name: Activity
paths:
  /v2/inbound-webhooks/delivery-providers/{environmentId}/{integrationId}:
    post:
      operationId: InboundWebhooksController_handleWebhook
      x-speakeasy-name-override: track
      summary: Novu Track Provider Activity and Engagement Events
      description: Track activity and engagement events for a specific delivery provider
      parameters:
      - name: environmentId
        required: true
        in: path
        description: The environment identifier
        schema:
          type: string
      - name: integrationId
        required: true
        in: path
        description: The integration identifier for the delivery provider
        schema:
          type: string
      requestBody:
        required: true
        description: Webhook event payload from the delivery provider
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Generic webhook payload from delivery providers
      responses:
        '200':
          description: Successfully processed webhook events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookResultDto'
      tags:
      - Activity
components:
  schemas:
    WebhookResultDto:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the webhook result
        event:
          description: Event body containing the webhook event data
          allOf:
          - $ref: '#/components/schemas/EventBody'
      required:
      - id
      - event
    EventBody:
      type: object
      properties:
        status:
          type: string
          description: Status of the event
          enum:
          - opened
          - rejected
          - sent
          - deferred
          - delivered
          - bounced
          - dropped
          - clicked
          - blocked
          - spam
          - unsubscribed
          - delayed
          - complaint
          - created
          - delivered
          - accepted
          - queued
          - sending
          - sent
          - failed
          - undelivered
          - rejected
          - delivered
          - opened
          - dismissed
          - clicked
          - failed
        date:
          type: string
          description: Date of the event
        externalId:
          type: string
          description: External ID from the provider
        attempts:
          type: number
          description: Number of attempts
        response:
          type: string
          description: Response from the provider
        row:
          type: string
          description: Raw content from the provider webhook
          additionalProperties: true
      required:
      - status
      - date
  securitySchemes:
    secretKey:
      type: apiKey
      name: Authorization
      in: header
      description: 'API key authentication. Allowed headers-- "Authorization: ApiKey <novu_secret_key>".'
      x-speakeasy-example: YOUR_SECRET_KEY_HERE
externalDocs:
  description: Novu Documentation
  url: https://docs.novu.co
